body>.main{overflow:inherit!important}
/*.CompaniesList{background:rgb(var(--whitergb)/.5)}*/
.CompaniesList,.CompaniesList li{display:flex;align-content:center;/*justify-content:center;*/flex-wrap:wrap;border-left:1px solid rgb(var(--blackrgb)/.1);/*border-top:1px solid rgb(var(--blackrgb)/.1);*/margin:0;padding:0;transition:all .5s}
.CompaniesList li:nth-child(-n+5){border-top:1px solid rgb(var(--blackrgb)/.1)}
.CompaniesList li{width:20%;border:none;border-right:1px solid rgb(var(--blackrgb)/.1);background:rgb(var(--whitergb)/.5);border-bottom:1px solid rgb(var(--blackrgb)/.1)}
.CompaniesList li a{padding:20px 9px;text-align:center;display:block;width:100%;height:100%}
.CompaniesList li a span{display:block;font-size:14px;margin-top:9px}
.CompaniesList li img{filter:grayscale(0);transition:all .5s;opacity:.8;height:50px;width:50px}
.CompaniesList li:hover{box-shadow:0 5px 15px rgb(var(--blackrgb)/.2);background:var(--white)}
.CompaniesList li:hover img{animation:pulse 400ms ease-in-out}
.CompaniesList li:hover img{filter:grayscale(0);opacity:1}

.SortBy{border-top:1px solid rgb(var(--blackrgb)/.1);border-bottom:1px solid rgb(var(--blackrgb)/.1);padding:9px 0;margin-bottom:20px;display:flex;align-items:flex-end;font-size:14px;position:sticky;top:56px;z-index:2}
.SortBy>div{width:100%;align-items:center}
.SortBy>div>div:first-child{display:flex}
.SortBy>div>div:first-child .alert{padding:3px 9px;font-size:12px;border-radius:12px;margin:4px 6px 4px 0;white-space:nowrap;background:rgb(var(--thmrgb)/.2);border:1px solid rgb(var(--thmrgb)/.3);display:flex;align-items:center}
.SortBy>div>div:first-child .alert button{height:4px;width:4px;margin-left:4px}
.SortBy>div>div:last-child{justify-content:flex-end;display:flex;align-items:center}
.SortBy>div>div:last-child .nav-pills li{line-height:normal!important}
.SortBy>div>div:last-child .nav-pills .nav-link{padding:0;height:35px;width:35px;font-size:18px;margin-left:9px}
.SortBy>div>div:last-child .nav-pills .nav-link.active,.SortBy>div>div:last-child .nav-pills .show>.nav-link{background:var(--thm2)}
.SortBy label{width:65px;text-align:right;margin-right:9px}
.SortBy .form-control{font-size:14px;border-radius:0}
.SortBy .input-group-text{border-radius:0}
input::-webkit-calendar-picker-indicator{opacity:0}
.SortBy .form-select{background:rgb(var(--thmrgb)/.1);border:1px solid rgb(var(--thmrgb)/.3);padding:6px 25px 6px 9px;width:160px;border-radius:0;font-size:14px;background-repeat:no-repeat;background-position:right .5rem center;background-size:11px;background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%231b4d64' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e")}
.SortBy .form-select::-ms-expand{display:none}
.SortBy .form-select{-webkit-appearance:none;-moz-appearance:none;text-indent:1px;text-overflow:''}

.ListingPage,.ListingPage .row{margin:0 -8px}
.ListingPage>div,.ListingPage .row>div{padding:0 8px}
.ListingPage>div:first-child{max-width:240px;width:100%}
.ListingPage>div:first-child>div{position:sticky;top:99px}
.ListingPage>div:first-child>div .card{margin-bottom:15px}
.ListingPage>div:first-child>div .card:last-child{margin:0}
/*.ListingPage>div:first-child>div{background:rgb(var(--blackrgb)/.1);height:100%}*/
.ListingPage>div:first-child .card{border-radius:0}
.ListingPage>div:first-child .card .card-header{background:var(--thm)!important;color:var(--white);border-radius:0}
.ListingPage>div:first-child .card .accordion-header .accordion-button{border-radius:0;background:none;border:none;border-bottom:1px solid rgb(var(--blackrgb)/.1);padding:9px 15px;font-size:15px;font-weight:600}
.ListingPage>div:first-child .card .accordion-header .accordion-button[aria-expanded="true"]{background:rgb(var(--thmrgb)/.1)!important;color:rgb(var(--blackrgb)/.8)}
.ListingPage>div:first-child .card .accordion-header .accordion-button::after{height:16px;width:16px;background-size:auto}
.ListingPage>div:first-child .card .accordion-header .accordion-button:not(.collapsed)::after{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231b4d64'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")}
.ListingPage>div:first-child .card .accordion-collapse{border:none;border-bottom:1px solid rgb(var(--blackrgb)/.1);max-height:300px;overflow:auto}
.ListingPage>div:first-child .card .accordion-collapse .accordion-body{padding:9px 15px}
.ListingPage>div:first-child .card .accordion-collapse .accordion-body .form-check-input[type=checkbox]{border-radius:0!important;font-size:14px}
.ListingPage>div:first-child .card ul{margin:0;padding:0}
.ListingPage>div:first-child .card ul li{margin-bottom:8px;line-height:normal!important}
.ListingPage>div:first-child .card ul li:last-child{margin-bottom:0}
.ListingPage>div:first-child .card ul li a{font-size:14px}
.ListingPage>div:first-child .card ul li label{display:flex;justify-content:space-between}
.ListingPage>div:first-child .card ul li label span:last-child{color:rgb(var(--blackrgb)/.5);margin-left:3px;transition:all .5s}
.ListingPage>div:first-child .card ul li:hover label span{color:var(--thm)}
.ListingPage>div:last-child{max-width:calc(100% - 240px);width:100%}

.ListingPage .CatCarousel .ProBlock .card-head{height:130px}
.ListingPage .CatCarousel .ProBlock .card-body h3.name{font-size:13px;line-height:1.2rem!important;height:38px}
.ListingPage .CatCarousel .ProBlock .card-body{padding:12px!important}
.ListingPage .CatCarousel .ProBlock .OffTag{top:105px}
.ListingPage .CatCarousel .ProBlock p{line-height:1.4rem!important}
.ListingPage .CatCarousel .ProBlock .card-body .price{margin:9px 0 0;font-size:15px}
.ListingPage .CatCarousel .ProBlock .card-body .price>.cutprice{font-size:11px}

.Listings>.active{display:flex!important}

.GridListing .ProBlock{margin-bottom:15px}
.GridListing .ProBlock .card-body .supl{bottom:20px;padding-bottom:15px}
.GridListing .ProBlock .card-head{height:200px}
.GridListing .ProBlock .OffTag{top:170px}
.GridListing .ProBlock:hover .card-body{padding-bottom:25px}
.GridListing .ProBlock:hover .card-body .supl{box-shadow:0 -5px 9px -5px rgb(var(--blackrgb)/.2);background:var(--white);z-index:1;bottom:0}
.GridListing .ProBlock:hover .card-body .supl a.btn{margin-top:15px}
.ListListing .ProBlock{flex-direction:row;margin-bottom:15px}
.ListListing .ProBlock .card-body{padding-bottom:15px!important}
.ListListing .ProBlock .card-head{width:280px;height:auto}
.ListListing .ProBlock .card-footer{width:250px;border:none;text-align:center;display:flex;align-items:center;flex-wrap:wrap}
.ListListing .ProBlock .card-footer .btn{width:100%}
.ListListing .ProBlock p{line-height:120%!important}
.ListListing .ProBlock ul{margin:9px 0 0;padding:0;display:flex;flex-wrap:wrap}
.ListListing .ProBlock ul li{width:50%;font-size:13px;line-height:150%!important}
.ListListing .ProBlock ul li span{width:90px;display:inline-block;margin-right:5px;position:relative}
.ListListing .ProBlock ul li span:after{content:':'}
.ListListing .ProBlock .OffTag{top:auto;bottom:20px}
.ListListing>div:last-child .ProBlock{margin-bottom:0}

@media only screen and (max-width:991px){}
@media only screen and (max-width:767px){}
@media only screen and (max-width:467px){}