body>.main{overflow:inherit!important}
.Detail{padding-top:9px!important}
.Detail .breadcrumb{margin-bottom:20px;justify-content:flex-start}

.ProDBox{border-radius:0!important}

.xzoom-source img,.xzoom-preview img,.xzoom-lens img{display:block;max-width:none;max-height:none;-webkit-transition:none;-moz-transition:none;-o-transition:none;transition:none}
.xzoom-container{display:inline-block}
.xzoom{-webkit-box-shadow:0 0 5px 0 rgb(var(--blackrgb)/.2);-moz-box-shadow:0 0 5px 0 rgb(var(--blackrgb)/.2);box-shadow:0 0 5px 0 rgb(var(--blackrgb)/.2);width:100%!important;display:block}
.xzoom2,.xzoom3,.xzoom4,.xzoom5{-webkit-box-shadow:0 0 5px 0 rgb(var(--blackrgb)/.2);-moz-box-shadow:0 0 5px 0 rgb(var(--blackrgb)/.2);box-shadow:0 0 5px 0 rgb(var(--blackrgb)/.2)}
.xzoom-gallery,.xzoom-gallery2,.xzoom-gallery3,.xzoom-gallery4,.xzoom-gallery5{border:1px solid rgb(var(--blackrgb)/.2)}
.xzoom-source,.xzoom-hidden{display:block;position:static;float:none;clear:both;overflow:hidden;border:1px solid rgb(var(--blackrgb)/.2)}
.xzoom-hidden{overflow:hidden}
.xzoom-preview{border:1px solid rgb(var(--blackrgb)/.1);background:rgb(var(--blackrgb)/.8);box-shadow:0 0 10px rgb(var(--blackrgb)/.5);z-index:1}
.xzoom-lens{box-shadow:0 0 10px rgb(var(--blackrgb)/.5);cursor:crosshair}
.xzoom-loading{background-position:center center;background-repeat:no-repeat;border-radius:100%;opacity:.7;background:url(../images/xloading.gif);width:48px;height:48px}
.xactive{-webkit-box-shadow:0 0 3px 0 rgb(var(--thmrgb));-moz-box-shadow:0 0 3px 0 rgb(var(--thmrgb));box-shadow:0 0 3px 0 rgb(var(--thmrgb));border:1px solid var(--thm)}
.xzoom-caption{position:absolute;bottom:-43px;left:0;background:var(--black);width:100%;text-align:left}
.xzoom-caption span{color:var(--white);font-family:Arial,sans-serif;display:block;font-size:.75em;font-weight:bold;padding:10px}

.xzoom-thumbs .owl-nav button{width:20px!important;height:35px!important;margin-top:-18px!important}
.xzoom-thumbs .owl-nav button span{font-size:16px}

@media only screen and (max-width:992px){.xzoom{width:400px!important;max-width:100%;margin:0 auto}}
@media only screen and (max-width:600px){.xzoom{width:350px!important;max-width:100%;margin:0 auto;touch-action:auto!important}
.xzoom-source,.xzoom-hidden{display:none}}

.ListingPage .CatCarousel .ProBlock .card-head{height:130px}
.ListingPage .CatCarousel .ProBlock .card-body h3.name{font-size:13px;line-height: 1.2rem!important;height:38px}
.ListingPage .CatCarousel .ProBlock .card-body{padding:12px!important}
.ListingPage .CatCarousel .ProBlock .OffTag{top:105px}
.ListingPage .CatCarousel .ProBlock p{line-height:1.4rem!important}
.ListingPage .CatCarousel .ProBlock .card-body .price{margin:9px 0 0;font-size:15px}
.ListingPage .CatCarousel .ProBlock .card-body .price>.cutprice{font-size:11px}

.Detail .ZoomBox{position:sticky;top:110px}
.Detail h1{font-weight:600;line-height:140%}
.Detail .share{display:flex;align-content:center;justify-content:flex-end}
.Detail .share a,.Detail .pricebox .dropdown a{cursor:pointer;padding:0 0 9px;font-size:15px}
.Detail .share a i{color:var(--thm)}
.Detail .share a:after,.Detail .pricebox .dropdown a:after{display:none}
.Detail .share .dropdown-menu.show,.Detail .pricebox .dropdown>div.show{display:flex;padding:15px;box-shadow:0 0 25px rgb(var(--blackrgb)/.2);border:none}
.Detail .share .dropdown-menu.show:after,.Detail .pricebox .dropdown>div.show:after{position:absolute;content:'';right:8%;top:-5px;width:9px;height:9px;transform:rotate(45deg);background:var(--white)}
.Detail .share .dropdown-menu li{text-align:center;padding:0 6px}
.Detail .share .dropdown-menu li i{margin:0 auto;border:1px solid rgb(var(--blackrgb)/.2);height:33px}
.Detail .share .dropdown-menu li span{font-size:12px;text-transform:capitalize}
.Detail .share .dropdown-menu li a .fa-facebook,.Detail .share .dropdown-menu li a .fa-facebook-f{color:#3b5998}
.Detail .share .dropdown-menu li a .fa-twitter{color:#00acee}
.Detail .share .dropdown-menu li a .fa-linkedin{color:#0e76a8}
.Detail .share .dropdown-menu li a .fa-pinterest,.Detail .share .dropdown-menu li a .fa-pinterest-p{color:#E60023}
.Detail .share .dropdown-menu li a .fa-instagram{color:#e6683c}
.Detail .share .dropdown-menu li a:hover i{border:none;color:var(--white)}

.RightBox{display:flex;width:100%}
.BuyBtnBox{/*position:sticky;*/bottom:0;display:flex;padding:15px 20px;align-items:center;justify-content:space-between;border:1px solid rgb(var(--blackrgb)/.1);border-radius:6px;background:rgb(var(--thmrgb2)/.1);transition:all .5s}
.BuyBtnBox .btn{line-height:40px}
.ComanyBox,.RightBar{border-radius:6px!important;position:sticky!important;overflow:hidden;top:60px}
.ComanyBox .card-header,.RightBar .card-header{display:flex;justify-content:space-between;background:rgb(var(--thmrgb2))!important;padding:9px!important}
.ComanyBox .card-header>div:first-child{width:80px;height:65px;border:1px solid rgb(var(--blackrgb)/.1);background:var(--white);padding:6px;border-radius:5px}
.ComanyBox .card-header>div:last-child{width:calc(100% - 95px)}
.ComanyBox .card-header img{width:100%;height:100%;object-fit:contain}
.ComanyBox .card-header h3{font-size:17px;font-weight:600;margin:0;color:var(--white)}
.ComanyBox .card-header p{font-size:13px;color:rgb(var(--whitergb)/.7)!important}
.ComanyBox .card-body,.RightBar .card-body{padding-bottom:25px!important}
.ComanyBox .card-body .btn,.RightBar .card-body .btn{line-height:40px;font-size:18px}
.ComanyBox .card-footer{background:rgb(var(--thmrgb)/.1)!important;padding-bottom:12px!important}

.RightBar .card-header{padding:15px 20px!important;color:var(--white)}
.RightBar .card-header h3{font-size:20px;font-weight:400;margin:0}
.RightBar .card:last-child .card-body{padding-bottom:15px!important}

.Detail .price{font-size:22px;font-weight:800;color:rgb(var(--blackrgb)/.9);display:inline-block;margin:0}
.Detail .pricebox .off{border-radius:3px;background:var(--thm);padding:2px 6px;font-size:11px;color:var(--white);margin-left:9px} 
.Detail .pricebox{display:flex;align-items:baseline}
.Detail .pricebox .dropdown a{vertical-align:middle;padding:0}
.Detail .pricebox .dropdown a i{font-size:16px;color:rgb(var(--blackrgb)/.3)}
.Detail .pricebox .dropdown>div.show{font-size:13px;padding:9px;margin-top:9px!important;display:block;margin-left:-9px!important;z-index:1}
.Detail .pricebox .dropdown>div:after{right:0;left:15px}
.Detail .pricebox .dropdown>div div{white-space:nowrap;display:flex;width:100%;justify-content:space-between;padding:8px 2px}
.Detail .pricebox .dropdown>div div:last-child{font-size:12px}

.qut{display:flex;align-items:center}
.qut .qut-box{display:flex;width:100px}
.qut .qut-box button{width:30px;height:30px;border:1px solid rgb(var(--blackrgb)/.1);background:rgb(var(--blackrgb)/.1);color:rgb(var(--blackrgb)/.8);transition:all .5s}
.qut .qut-box button:hover{background:var(--thm);color:var(--white)}
.qut .qut-box input{border:none;width:40px;text-align:center;border-top:1px solid rgb(var(--blackrgb)/.1);border-bottom:1px solid rgb(var(--blackrgb)/.1)}
.qut span{font-size:12px;line-height:normal}

.Highlights ul li,.ProductDetail .accordion-body{background:var(--white)}
.Highlights ul li,.ProductDetail .accordion-body,.ProductDetail .accordion-body ul li,.ProductDetail .accordion-body p{font-size:13px!important;line-height:170%!important}
.Highlights ul:not(.browser-default)>li{list-style-type:inherit}
.Highlights ul li::marker{display:block}
.Highlights ul li span{color:rgb(var(--blackrgb)/.8);width:100px;display:inline-block!important;position:relative!important;margin-right:15px!important}
.Highlights ul li span:after{content:":";position:absolute;right:-9px}

.accordion-collapse{overflow:hidden}
.ProductDetail .accordion-item .accordion-button{padding:.7rem 1.25rem;font-size:16px;font-weight:600;color:var(--black);background:rgb(var(--thmrgb)/.1)}
.ProductDetail .accordion-button:not(.collapsed)::after{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23005939'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")}
.ProductDetail .accordion-body ul,.ProductDetail .accordion-body p{padding:0!important;margin:0!important}
.ProductDetail .accordion-body ul li>span:first-child{min-width:180px!important;display:inline-block!important;margin-right:15px!important;margin-bottom:3px;color:rgb(var(--blackrgb)/.8);position:relative}
.ProductDetail .accordion-body ul li>span:first-child:after{content:":";position:absolute;right:-9px}
.ProductDetail .accordion-body h3{font-size:16px!important;font-weight:600!important;color:var(--thm);border-top:1px solid rgb(var(--blackrgb)/.1)!important;padding-top:15px!important;margin-top:15px!important;margin-bottom:5px!important}
.ProductDetail .accordion-body h3:first-child{border:none!important;padding:0!important;margin-top:0!important}
.ProductDetail .accordion-body p{}

.ReviewForm .form-control{background-color:#eee!important}
.ReviewForm textarea{height:99px!important}
.rating{justify-content:center;margin-bottom:9px;overflow:hidden;flex-direction:row-reverse;position:relative;width:160px}
.rating-0{filter:grayscale(100%)}
.rating>input{display:none}
.rating>label{cursor:pointer;width:25px;height:25px;float:right;padding:0!important;margin-top:auto;background-image:url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");background-repeat:no-repeat;background-position:center;background-size:76%;transition:.3s}
.rating>input:checked~label,.rating>input:checked~label~label{background-image:url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e")}
.rating>input:not(:checked)~label:hover,.rating>input:not(:checked)~label:hover~label{background-image:url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e")}
.emoji-wrapper{width:auto;text-align:center;height:25px;overflow:hidden;position:relative}
.emoji-wrapper:before,.emoji-wrapper:after{content:"";display:none;height:15px;width:100%;position:absolute;left:0;z-index:1}
.emoji-wrapper:before{top:0;background:linear-gradient(to bottom,rgb(var(--whitergb)) 0%,rgb(var(--whitergb)) 35%,rgb(var(--whitergb)/0) 100%)}
.emoji-wrapper:after{bottom:0;background:linear-gradient(to top,rgb(var(--whitergb)) 0%,rgb(var(--whitergb)) 35%,rgb(var(--whitergb)/0) 100%)}
.emoji{display:flex;margin-right:9px;flex-direction:column;align-items:center;transition:.3s}
.emoji>img{margin:0;width:25px;height:25px;flex-shrink:0}
#rating-1:checked~.emoji-wrapper>.emoji{transform:translateY(-25px)}
#rating-2:checked~.emoji-wrapper>.emoji{transform:translateY(-50px)}
#rating-3:checked~.emoji-wrapper>.emoji{transform:translateY(-75px)}
#rating-4:checked~.emoji-wrapper>.emoji{transform:translateY(-100px)}
#rating-5:checked~.emoji-wrapper>.emoji{transform:translateY(-125px)}
.ReviewBlock{border:none!important}
.ReviewBlock>div{border-top:1px solid rgb(var(--blackrgb)/.1);padding:15px 0 0;margin-top:15px}
.ReviewBlock>div .star{margin-left:0}
.ReviewBlock>div h4{font-size:16px;margin-top:0;font-weight:600}
.ReviewBlock>div>div>span:last-child{font-size:12px!important}

@media only screen and (max-width:991px){.BuyBtnBox{position:fixed;right:0;padding:8px 0;width:100%;z-index:4;padding-left:15px}
.fullboxby{width:88%}}
@media only screen and (max-width:767px){.BuyBtnBox .btn{padding:0 15px;margin-right:5px!important}
.BuyBtnBox .btn:last-child{margin-right:0!important}
.ProductDetail .accordion-body ul li{margin-bottom:9px}
.ProductDetail .accordion-body ul li:last-child{margin:0}
.ProductDetail .accordion-body ul li>strong:first-child{display:block!important;margin-right:0!important}}
@media only screen and (max-width:578px){.d-icon>div{font-size:11px;display:block;padding:0}
.d-icon>div>img{display:flex;margin:0 auto}
.d-icon>div>span{display:block;margin:0;text-align:center}
.BuyBtnBox .btn{text-transform:none}
.BuyBtnBox .btn:last-child{width:80px}
.BuyBtnBox .btn:last-child i{margin-right:0!important}
.BuyBtnBox .btn:last-child span{display:none}}
@media only screen and (max-width:467px){.Detail .share .dropdown-menu.show:after,.Detail .pricebox .dropdown>div.show:after{display:none}
.BuyBtnBox{padding-left:5px}
.BuyBtnBox .btn:last-child{width:70px}
.BuyBtnBox .btn{font-size:13px;line-height:34px;padding:0 12px}}

@media only screen and (max-width:991px){}
@media only screen and (max-width:767px){}
@media only screen and (max-width:467px){}