#sync1 .item{padding:20px 30px;background:#ddd;border:1px solid #ddd;display:flex;justify-content:center;margin:5px;color:var(--white);overflow:hidden;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;text-align:center}
#sync1 .item img{width:100%;min-width:250px;display:flex;margin:0 auto}
#sync2 .item{padding:9px 20px;border:1px solid #ddd;margin:5px;color:var(--white);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;text-align:center;cursor:pointer}
#sync2 .item h1{font-size:18px}
#sync2 .current .item{border:1px solid #188549;box-shadow:0 0 9px rgb(var(--blackrgb)/.3)}
#sync2 .owl-stage-outer{display:flex;justify-content:center}

.owl-theme .owl-nav{width:100%;top:45%;bottom:auto}
.owl-theme .owl-nav [class*=owl-]{transition:all 0.3s ease;background:none!important;box-shadow:none!important}
.owl-theme .owl-nav [class*=owl-].disabled:hover{background-color:#D6D6D6}

#sync1.owl-theme{position:relative}
#sync1.owl-theme .owl-next, #sync1.owl-theme .owl-prev{width:22px;height:40px;margin-top:-20px;position:absolute;top:50%}
#sync1.owl-theme .owl-prev{left:10px}
#sync1.owl-theme .owl-next{right:10px}
@media only screen and (max-width:992px){}
@media only screen and (max-width:767px){}
@media only screen and (max-width:578px){}
@media only screen and (max-width:450px){#sync1 .item{padding:0}
#sync2 .item{padding:5px}
@media only screen and (max-width:350px){}